.wrapper{
  margin: 0 auto;
}

table{
  border-collapse: collapse;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td{
  margin: 0 auto;
  background-color: #8be36c;
  padding: 15px;
  height: 100px;
  width: 100px;
}

#headCell{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 5px;
}

#amc{
  background-color: #00FF7F;
}

#amc #amcCredit{
  visibility: hidden;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#amc:hover #amcCredit{
  visibility: visible;
  top: 100px;
}